@*Содержимое состоит в основном из НТМL-разметки. но с добавлением Rаzоr­
выражения @model,  которое используется для создания строго типизированного
представления. Строго типизированное представление предназначено для визуали-
зации специфического типа модели,  и если указан желаемый тип (в данном случае
класс GuestResponse из пространства имен Partylnvites.Models), то MVC  может
создать ряд удобных сокращений,  чтобы сделать его проще.*@

@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>

<body>
    @*asp-for прив'язує елементи до об'єкта моделі.*@
    <form asp-action="RsvpForm" method="post">
        <p>
            <label asp-for="Name">Your name:</label>
            <input asp-for="Name" />
        </p>
        <p>
            <label asp-for="Email">Your email:</label>
            <input asp-for="Email" />
        </p>
        <p>
            <label asp-for="Email">Your phone:</label>
            <input asp-for="Email" />
        </p>
        <p>
            <label asp-for="WillAttend">Your phone:</label>
            <select asp-for="WillAttend">
                <option value="">Choose an option</option>
                <option value="true">Yes, I'll be there</option>
                <option value="false">No, I can't come.</option>
            </select>
        </p>
        <button type="submit">Submit RSVP</button>
    </form>
</body>
</html>
