@*Содержимое состоит в основном из НТМL-разметки. но с добавлением Rаzоr­
выражения @model,  которое используется для создания строго типизированного
представления. Строго типизированное представление предназначено для визуали-
зации специфического типа модели,  и если указан желаемый тип (в данном случае
класс GuestResponse из пространства имен Partylnvites.Models), то MVC  может
создать ряд удобных сокращений,  чтобы сделать его проще.*@

@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>

<body>
    <div>
        This is the RsvpForm.cshtml View
    </div>
</body>
</html>
